@page
  size auto
  margin 5mm
  margin-top 0

@media print
  html
    font-size 8.5pt

  body
    margin 0

  a:link:after, a:visited:after
    content ""

  hr
    margin 0

  for size in (1..12)
    .col-print-{size}
      width (size/12)*100% !important
      position relative
      min-height 1px
      padding-right 15px
      padding-left 15px

    for width in xs sm md lg
      for action in push pull
        .col-{width}-{action}-{size}
          @media print
            left 0

  .no-mb-print
      margin-bottom 0 !important
