c-bg = #f5f5f5
c-light1 = #fafafa
c-dark1 = #e0e0e0
c-dark2 = #bdbdbd
c-text = #212121

@media print
  body
    background-color #FFFFFF 

    hr
      border-color c-dark1 !important

    .card
      .meta
        border-color c-dark1 !important
