@page
  size auto
  margin 5mm

@media print
  html
    font-size 7.5pt

  body
    margin 0

  a:link:after, a:visited:after
    content ""

  for size in (1..12)
    .col-print-{size}
      width (size/12)*100% !important
      position relative
      min-height 1px
      padding-right 15px
      padding-left 15px

  .no-mb-print
      margin-bottom 0 !important

  .table
      & > thead, & > tbody, & > tfoot
        & > tr.active
          & > td
            border-top 1px solid
            border-bottom 1px solid
