nmx-white = #F9F9F9
nmx-grey0 = #F2F2F2
nmx-grey1 = #EEEEEE
nmx-grey2 = #DEDEDE
nmx-grey3 = #CCCCCC
nmx-grey4 = #333333
nmx-black = #2D2D2D

@media print
  body
    background-color #FFFFFF 

    .entry
      .meta
        border-bottom-color nmx-grey3 !important
      ul.main, ul.main > li
        border-color nmx-grey3 !important
