@page
  size auto
  margin 7mm 5mm 7mm 5mm

@media print
  html
    font-size 8.5pt

  body
    margin 0

  a:link:after, a:visited:after
    content ""

  hr
    margin 0

  ul.main
    margin-bottom 5px !important

  for size in (1..12)
    .col-print-{size}
      width (size/12)*100% !important
      position relative
      min-height 1px
      padding-right 15px
      padding-left 15px

  .no-mb-print
      margin-bottom 0 !important
