c-bg = #f5f5f5
c-light1 = #fafafa
c-dark1 = #e0e0e0
c-dark15 = #d2d2d2
c-dark2 = #bdbdbd
c-text = #212121

c-select = #b3e5fc
c-accent = #03a9f4
c-accent-dark1 = #039be5
c-accent-dark2 = #0277bd

@media screen
  ::selection
    background c-select
  ::-moz-selection
    background c-select

  body
    background-color c-bg 
    color c-text

    hr
      border-color c-dark1 !important

    a
      color c-accent
      &:hover
        color c-accent-dark1

    kbd a
      color c-bg
      &:hover
        color c-dark0

    .card
      background-color c-light1
      border-color c-dark15 !important
      .card-img
        border-color c-dark1 !important
      .meta
        border-color c-dark1 !important

    .fa.stackee.inverse
      color c-bg 

    .github-fork-ribbon
      background-color c-accent 

    .btn-primary
      color c-bg
      background-color c-accent
      border-color c-accent-dark1
      &:hover, &:focus, &:active
        background-color c-accent-dark1
        border-color c-accent-dark2

    .btn-default
      color c-text
      background-color c-light1
      border-color c-dark1
      &:hover, &:focus, &:active
        background-color c-dark1
        border-color c-dark2
