nmx-white = #F9F9F9
nmx-grey0 = #F2F2F2
nmx-grey1 = #EEEEEE
nmx-grey2 = #DEDEDE
nmx-grey3 = #CCCCCC
nmx-grey4 = #333333
nmx-black = #2D2D2D
nmx-red0 = #F5B4AB
nmx-red1 = #D64937
nmx-red2 = #C24130
nmx-red3 = #AD3A2B 

@media screen
  ::selection
    background nmx-red0
  ::-moz-selection
    background nmx-red0

  body
    background-color nmx-white 
    color nmx-grey4

    a
      color nmx-red1
      &:hover
        color nmx-red2

    kbd a
      color nmx-white
      &:hover
        color nmx-grey2

    .entry
      .meta
        border-color nmx-grey3 !important
        background-color nmx-grey1
      ul.main li
        border-color nmx-grey3 !important

    .fa.stackee.inverse
      color nmx-white 

    .github-fork-ribbon
      background-color nmx-red1 

    .btn-primary
      color nmx-white
      background-color nmx-red1
      border-color nmx-red2
      &:hover, &:focus, &:active
        background-color nmx-red2
        border-color nmx-red3

    .btn-default
      color nmx-grey4
      background-color nmx-white
      border-color nmx-grey2
      &:hover, &:focus, &:active
        background-color nmx-grey0
        border-color nmx-grey3
