hr
  margin 0 0 (sec-margin * 2 / 3) 0
  &.smallmargin
    margin 0 0 (sec-margin / 3) 0

section
  @media screen
    margin-bottom sec-margin
  margin-bottom (sec-margin / 2)

for size in (4..6)
  h{size}, .h{size}
    margin (sec-margin / 3) 0

.h-inline
  display inline-block
  margin-right 10px

.row
  @media screen and (min-width xs-break), print
    for alignment in left center right
      .col-{alignment}
        text-align alignment

  .space-em
    margin-bottom (sec-margin / 3)
    &:last-of-type
      margin-bottom 0

.no-mb-xs
  @media screen and (max-width xs-break - 1)
    margin-bottom 0 !important
.no-mb-sm
  @media screen and (min-width xs-break) and (max-width sm-break - 1)
    margin-bottom 0 !important
.no-mb-md
  @media screen and (min-width sm-break) and (max-width md-break - 1)
    margin-bottom 0 !important
.no-mb-lg
  @media screen and (min-width md-break)
    margin-bottom 0 !important

ul
  margin-bottom 0
  &.inline
    @media screen and (min-width xs-break), print
      display inline-block
    margin-right 10px
 
  &.fa-ul
    margin-left 24px
    &.list-inline>li
      padding-right 40px

.fa.stackee
  position absolute
  left 0.05em // No idea how this makes sense, but it works...
  width 100%
  text-align center
  &.inverse
    color #FFFFFF
  &.box
    z-index -1
    &:before
      content '\f0c8'
    font-size 1.33em
    top -0.1em
