// Mixins and Functions
vendorize(attr args)
  -webkit-{attr} args
  -moz-{attr} args
  -ms-{attr} args
  -o-{attr} args
  {attr} args

commaize()
  &:after
   content ', '
  &:last-child:after
   content ''

// Styles
.dib
  display inline-block
.dib-print
  @media print
    display inline-block

.vmid
  vertical-align middle
 
.coverall
  position fixed
  z-index 99999
  width 100%
  height 100%
  background-color #FFFFFF
  text-align center
  font-size 3rem

hr
  @media screen
    margin 0 0 sec-margin
  margin 0 0 (sec-margin / 2) 0

section
  @media screen
    margin-bottom sec-margin
  margin-bottom (sec-margin / 2)

for size in (4..6)
  h{size}, .h{size}
    margin 0
    @media screen
      margin-bottom (sec-margin / 3)
    margin-bottom (sec-margin / 5)

.h-inline
  display block
  margin-right 0
  @media screen and (min-width sm-break), print
    float left
    margin-right 10px

.row
  .space-em
    margin-bottom (sec-margin / 3)
    &:last-of-type
      margin-bottom 0

.no-mb-xs
  @media screen and (max-width xs-break - 1)
    margin-bottom 0 !important
.no-mb-sm
  @media screen and (min-width xs-break) and (max-width sm-break - 1)
    margin-bottom 0 !important
.no-mb-md
  @media screen and (min-width sm-break) and (max-width md-break - 1)
    margin-bottom 0 !important
.no-mb-lg
  @media screen and (min-width md-break)
    margin-bottom 0 !important

table
  td
    &.nowrap
      white-space nowrap

ul
  margin-bottom 0
 
  &.fa-ul
    margin-left 24px

.fa
  &.spaceright
    margin-right 5px
  &.stackee
    position absolute
    left 0.05em // No idea how this makes sense, but it works...
    width 100%
    text-align center
    &.inverse
      color #FFFFFF
    &.box
      z-index -1
      &:before
        content '\f0c8'
      font-size 1.33em
      top -0.1em

li.commaize
  commaize()
