// Variables
xs-break = 768px

// Override print behavior
@media print
  a:link:after, a:visited:after
    content ""
  for size in (1..12)
    .col-print-{size}
      width (size/12)*100% !important

// Basics
body
  padding-top 20px

hr
  margin 0 0 10px 0

.h-inline
  padding-right 10px

ul.inline
  @media screen and (min-width xs-break), print
    display inline-block
  margin-right 10px
 
ul.block-sm>li
  @media screen and (max-width xs-break)
    display block

ul.fa-ul.list-inline>li
  padding-right 40px

.row
  @media screen and (min-width xs-break), print
    .col-left
      text-align left
    .col-center
      text-align center
    .col-right
      text-align right

td.date
  width 175px

kbd a
  color white
  &:hover
    color #CCCCCC

// Specific styles
.github-fork-ribbon
  background-color #4682EB 

.main-title
  display inline-block
  margin-top 0
  margin-right 20px

.college
  margin-bottom 5px

#skills li
  margin-bottom 5px