@require '_vars.styl'
@require '_util.styl'
@require '_print.styl'
@require '_print_color.styl'
@require '_screen_color.styl'

// General
@media screen
  html
    font-size 14px

body
  font-size 1rem
  font-family 'Roboto' sans-serif

.container
  @media screen
    padding-top 20px

h4, .h4
  font-size 1.25rem

.table-label
  font-size 0.9rem
  font-weight bold 

.card
  @media screen
    padding 10px
    &.nopad
      padding 0
    margin-bottom sec-margin
    vendorize('border-radius', (4px))
    vendorize('box-shadow', (-5px 5px 20px 5px #EEEEEE))

  & > .meta
    padding 3px 0

    & > div
      vertical-align text-top
      display inline-block
      padding-right 5px
      &:last-of-type
        padding-right 0

  & > ul.main
    padding-left 0
    margin-left 10px
    list-style none

    & > li
      padding 1px 10px
      position relative

      & > div
        vertical-align text-top
        display inline-block

.img-thumbnail
  margin-bottom (sec-margin / 2)

li
  @media screen
    line-height 1.75rem 
  @media print
    line-height 1.5rem 

// Specific
#header
  .contact
    @media screen and (min-width md-break), print
      margin-bottom 0
    margin-bottom (sec-margin / 3)

    .main-title
      @media screen and (min-width sm-break), print
        display inline-block
      @media screen and (min-width md-break), print
        margin-bottom 0
      display block
      margin-top 0
      margin-bottom (sec-margin / 2)
      margin-right 20px
      line-height 4.5rem
      font-size 4.5rem
      font-weight 100

    ul
      @media screen and (min-width md-break), print
        margin-bottom 0
      margin-bottom sec-margin 

#experience
  .card
    & > .meta
      .name
        width 40%
      .role
        width 30%
      .date
        width 30%
        text-align right

#education
  .card
    & > .meta
      .school
        width 40%
      .grades
        width 30%
      .dates
        width 30%
        text-align right
    & > ul.main > li
        .name
          width 17%
        .content
          width 68%
        .date
          width 15%
          text-align right

#projects
  .card
    & > .meta
      .name
        width 40%
      .role
        width 30%
      .date
        width 30%
        text-align right
