@page {
  size: auto;
  margin: 5mm;
}
@media print {
  html {
    font-size: 10pt;
  }
  body {
    margin: 0;
  }
  a:link:after,
  a:visited:after {
    content: "";
  }
  .col-print-1 {
    width: 8.3333333333333% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-2 {
    width: 16.6666666666667% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-3 {
    width: 25% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-4 {
    width: 33.3333333333333% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-5 {
    width: 41.6666666666667% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-6 {
    width: 50% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-7 {
    width: 58.3333333333333% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-8 {
    width: 66.6666666666667% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-9 {
    width: 75% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-10 {
    width: 83.3333333333333% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-11 {
    width: 91.6666666666667% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-12 {
    width: 100% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen {
  html {
    font-size: 14px;
  }
}
body {
  font-size: 1rem;
}
@media screen {
  body {
    padding-top: 20px;
  }
}
@media screen {
  body {
    background-color: #f9f9f9;
    color: #333;
  }
  body a {
    color: #46a9ff;
  }
  body .table-striped>tbody>tr:nth-child(odd)>td,
  body .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #dedede;
  }
  body .fa.stackee.inverse {
    color: #f9f9f9;
  }
  body .github-fork-ribbon {
    background-color: #46a9ff;
  }
  body .btn-primary {
    color: #f9f9f9;
    background-color: #46a9ff;
    border-color: #357ebd;
  }
  body .btn-default {
    color: #333;
    background-color: #f9f9f9;
    border-color: #ccc;
  }
}
.container {
  display: none;
  opacity: 0;
}
hr {
  margin: 0 0 10px 0;
}
hr.smallmargin {
  margin: 0 0 5px 0;
}
section {
  margin-bottom: 7.5px;
}
@media screen {
  section {
    margin-bottom: 15px;
  }
}
h4,
.h4 {
  margin: 5px 0;
}
h5,
.h5 {
  margin: 5px 0;
}
h6,
.h6 {
  margin: 5px 0;
}
h4,
.h4 {
  font-size: 1.25rem;
}
.h-inline {
  display: inline-block;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .no-mb-xs {
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .no-mb-sm {
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .no-mb-md {
    margin-bottom: 0 !important;
  }
}
@media scren and (min-width: 1200px) {
  .no-mb-lg {
    margin-bottom: 0 !important;
  }
}
@media print {
  .no-mb-print {
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 768px), print {
  .row .col-left {
    text-align: left;
  }
  .row .col-center {
    text-align: center;
  }
  .row .col-right {
    text-align: right;
  }
}
.row .space-em {
  margin-bottom: 5px;
}
.row .space-em:last-of-type {
  margin-bottom: 0;
}
.table-label {
  font-size: 0.9rem;
  font-weight: bold;
}
.table {
  font-size: 0.8rem;
  margin-bottom: 0;
}
@media screen {
  .table {
    font-size: 1rem;
  }
}
.table.table-super-condensed > thead > tr > td,
.table.table-super-condensed > tbody > tr > td,
.table.table-super-condensed > tfoot > tr > td,
.table.table-super-condensed > thead > th > td,
.table.table-super-condensed > tbody > th > td,
.table.table-super-condensed > tfoot > th > td {
  padding: 3px;
}
ul {
  margin-bottom: 0;
}
ul.inline {
  margin-right: 10px;
}
@media screen and (min-width: 768px), print {
  ul.inline {
    display: inline-block;
  }
}
ul.fa-ul {
  margin-left: 24px;
}
ul.fa-ul.list-inline>li {
  padding-right: 40px;
}
.fa.stackee {
  position: absolute;
  left: 0.05em;
  width: 100%;
  text-align: center;
}
.fa.stackee.inverse {
  color: #fff;
}
.fa.stackee.box {
  z-index: -1;
  font-size: 1.33em;
  top: -0.1em;
}
.fa.stackee.box:before {
  content: '\f0c8';
}
kbd a {
  color: #fff;
}
kbd a:hover {
  color: #ccc;
}
#header .contact {
  margin-bottom: 5px;
}
@media screen and (min-width: 1200px), print {
  #header .contact {
    margin-bottom: 0;
  }
}
#header .contact .main-title {
  display: block;
  margin-top: 0;
  margin-bottom: 7.5px;
  margin-right: 20px;
  line-height: 5rem;
  font-size: 4.75rem;
  font-weight: 100;
}
@media screen and (min-width: 992px), print {
  #header .contact .main-title {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px), print {
  #header .contact .main-title {
    margin-bottom: 0;
  }
}
#header .contact ul {
  margin-bottom: 15px;
}
@media screen and (min-width: 1200px), print {
  #header .contact ul {
    margin-bottom: 0;
  }
}
#education .college {
  margin-bottom: 5px;
}
#skills li {
  margin-bottom: 5px;
}
