.coverall {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  font-size: 3rem;
}
hr {
  margin: 0 0 13.333333333333334px 0;
}
hr.smallmargin {
  margin: 0 0 6.666666666666667px 0;
}
section {
  margin-bottom: 10px;
}
@media screen {
  section {
    margin-bottom: 20px;
  }
}
h4,
.h4 {
  margin: 6.666666666666667px 0;
}
h5,
.h5 {
  margin: 6.666666666666667px 0;
}
h6,
.h6 {
  margin: 6.666666666666667px 0;
}
.h-inline {
  display: inline-block;
  margin-right: 10px;
}
@media screen and (min-width: 768px), print {
  .row .col-left {
    text-align: left;
  }
  .row .col-center {
    text-align: center;
  }
  .row .col-right {
    text-align: right;
  }
}
.row .space-em {
  margin-bottom: 6.666666666666667px;
}
.row .space-em:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .no-mb-xs {
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .no-mb-sm {
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .no-mb-md {
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 1200px) {
  .no-mb-lg {
    margin-bottom: 0 !important;
  }
}
ul {
  margin-bottom: 0;
}
ul.inline {
  margin-right: 10px;
}
@media screen and (min-width: 768px), print {
  ul.inline {
    display: inline-block;
  }
}
ul.fa-ul {
  margin-left: 24px;
}
ul.fa-ul.list-inline>li {
  padding-right: 40px;
}
.fa.stackee {
  position: absolute;
  left: 0.05em;
  width: 100%;
  text-align: center;
}
.fa.stackee.inverse {
  color: #fff;
}
.fa.stackee.box {
  z-index: -1;
  font-size: 1.33em;
  top: -0.1em;
}
.fa.stackee.box:before {
  content: '\f0c8';
}
@page {
  size: auto;
  margin: 5mm;
}
@media print {
  html {
    font-size: 7pt;
  }
  body {
    margin: 0;
  }
  a:link:after,
  a:visited:after {
    content: "";
  }
  .col-print-1 {
    width: 8.3333333333333% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-2 {
    width: 16.6666666666667% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-3 {
    width: 25% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-4 {
    width: 33.3333333333333% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-5 {
    width: 41.6666666666667% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-6 {
    width: 50% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-7 {
    width: 58.3333333333333% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-8 {
    width: 66.6666666666667% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-9 {
    width: 75% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-10 {
    width: 83.3333333333333% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-11 {
    width: 91.6666666666667% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-print-12 {
    width: 100% !important;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .no-mb-print {
    margin-bottom: 0 !important;
  }
  .table > thead > tr.active > td,
  .table > tbody > tr.active > td,
  .table > tfoot > tr.active > td {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
}
@media print {
  body {
    background-color: #fff;
  }
}
@media screen {
  ::selection {
    background: #f5b4ab;
  }
  ::-moz-selection {
    background: #f5b4ab;
  }
  body {
    background-color: #f9f9f9;
    color: #333;
  }
  body a {
    color: #d64937;
  }
  body a:hover {
    color: #c24130;
  }
  body kbd a {
    color: #f9f9f9;
  }
  body kbd a:hover {
    color: #dedede;
  }
  body .table > thead > tr.active > td,
  body .table > tbody > tr.active > td,
  body .table > tfoot > tr.active > td,
  body .table > thead > tr.active > th,
  body .table > tbody > tr.active > th,
  body .table > tfoot > tr.active > th {
    background-color: #eee;
  }
  body .fa.stackee.inverse {
    color: #f9f9f9;
  }
  body .github-fork-ribbon {
    background-color: #d64937;
  }
  body .btn-primary {
    color: #f9f9f9;
    background-color: #d64937;
    border-color: #c24130;
  }
  body .btn-primary:hover {
    background-color: #c24130;
    border-color: #ad3a2b;
  }
  body .btn-default {
    color: #333;
    background-color: #f9f9f9;
    border-color: #dedede;
  }
  body .btn-default:hover {
    background-color: #f2f2f2;
    border-color: #ccc;
  }
}
@media screen {
  html {
    font-size: 14px;
  }
}
body {
  font-size: 1rem;
  font-family: 'Roboto' sans-serif;
}
@media screen {
  .container {
    padding-top: 20px;
  }
}
h4,
.h4 {
  font-size: 1.25rem;
}
.table-label {
  font-size: 0.9rem;
  font-weight: bold;
}
.table {
  font-size: 1rem;
  margin-bottom: 0;
}
.table.table-super-condensed > thead > tr > td,
.table.table-super-condensed > tbody > tr > td,
.table.table-super-condensed > tfoot > tr > td,
.table.table-super-condensed > thead > th > td,
.table.table-super-condensed > tbody > th > td,
.table.table-super-condensed > tfoot > th > td {
  padding: 3px 10px;
}
.img-thumbnail {
  margin-bottom: 10px;
}
@media screen {
  li {
    line-height: 1.75rem;
  }
}
#header .contact {
  margin-bottom: 6.666666666666667px;
}
@media screen and (min-width: 1200px), print {
  #header .contact {
    margin-bottom: 0;
  }
}
#header .contact .main-title {
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 20px;
  line-height: 4.5rem;
  font-size: 4.5rem;
  font-weight: 100;
}
@media screen and (min-width: 992px), print {
  #header .contact .main-title {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px), print {
  #header .contact .main-title {
    margin-bottom: 0;
  }
}
#header .contact ul {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px), print {
  #header .contact ul {
    margin-bottom: 0;
  }
}
#experience table tbody.meta + tbody {
  border-top: 0;
}
#experience table tbody.meta .name {
  width: 40%;
}
#experience table tbody.meta .role {
  width: 30%;
}
#experience table tbody.meta .date {
  width: 30%;
  text-align: right;
}
#education table tbody.meta + tbody {
  border-top: 0;
}
#education table tbody.meta td > div {
  display: inline-block;
  float: left;
}
#education table tbody.meta td > div.school {
  width: 40%;
}
#education table tbody.meta td > div.grades {
  width: 30%;
}
#education table tbody.meta td > div.dates {
  width: 30%;
  text-align: right;
}
#education table tbody.classes .date {
  width: 120px;
  text-align: right;
}
#projects table tbody.meta + tbody {
  border-top: 0;
}
#projects table tbody.meta .name {
  width: 40%;
}
#projects table tbody.meta .role {
  width: 30%;
}
#projects table tbody.meta .date {
  width: 30%;
  text-align: right;
}
