@import '../node_modules/nib/index.styl'
@require '_vars.styl'
@require '_util.styl'
@require '_print.styl'
@require '_print_color.styl'
@require '_screen_color.styl'

// General
@media screen
  html
    font-size 14px

body
  font-size 1rem
  font-family 'Roboto','Helvetica-Neue',Helvetica,Arial,sans-serif

.fadeaway
  position fixed
  z-index 100
  pointer-events none
  width 100%
  height 100px
  transition all transition-speed ease-out

  for direction in top bottom
    &.{direction}
      {direction} 0
      background-image linear-gradient(direction, rgba(245, 245, 245, 1), rgba(245, 245, 245, 0))

  &.disable
    opacity 0

.container
  transition all transition-speed ease-out
  @media screen
    padding-top sec-margin

h4, .h4
  font-size 1.25rem

.card
  card-height = 200px
  card-margin = 20px

  overflow hidden
  z-index 5

  // Reset
  a&, a&:hover
    text-decoration none
    color initial

  // Layout
  display block
  & > *
    display block
  @media screen and (min-width xs-break)
    width 100%
    display table
    & > *
      display table-cell

    &.uni-height
      height card-height

  // Appearance
  @media screen
    margin-bottom card-margin
    &:last-of-type
      margin-bottom 0

    border 1px solid
    border-bottom 4px solid
    // box-shadow 0 5px 30px -10px rgba(0, 0, 0, 0.75)
    border-radius 3px

    transition all transition-speed ease-out
    &.prereveal
      opacity 0
      transform translateY(-(sec-margin))
    // &.has-link
    //   &:hover
    //     transform translateY(-(card-margin/8))
    //     box-shadow 0 10px 50px -10px rgba(0, 0, 0, 0.75)

  // Contents
  .card-img
    @media print
      display none
    height card-height
    @media screen and (min-width xs-break)
      height auto
      width 30%

    background-size cover
    background-repeat no-repeat
    background-position 50% 50%

    border-bottom 1px solid
    @media screen and (min-width xs-break)
      border-bottom none
      border-right 1px solid

  .card-cta
    @media print
      display none
    text-align center
    vertical-align middle
    font-size 3rem
    line-height 5rem
    text-decoration none
    transition all transition-speed ease-out
    @media screen and (min-width xs-break)
      width 10%
    border-top 1px solid
    @media screen and (min-width xs-break)
      border-top none
      border-left 1px solid

  .card-content
    @media screen
      padding (sec-margin / 2) sec-margin

    .meta
      padding-bottom 3px
      border-bottom 1px solid

      a
        text-decoration none

      clearfix()
      & > div
        @media screen and (max-width md-break - 1)
          width 100% !important
          text-align center !important
        @media screen and (min-width md-break), print
          float left
          text-align left
          padding-right 5px
          &:last-of-type
            padding-right 0

    ul.main
      list-style square
      padding-left 30px

      &.list-unstyled
        list-style none outside none
        padding-left 0

      & > li
        padding 1px 0
        position relative

        & > div
          vertical-align text-top
          display inline-block

    table.main
      width 100%
      max-width 100%
      margin-bottom 0

      td
        vertical-align top
        padding 3px
        border none !important

li
  @media screen
    line-height 1.75rem
  @media print
    line-height 1.5rem

.btn
  transition all transition-speed ease-out

// Specific
#header
  .contact
    @media screen and (min-width md-break), print
      margin-bottom 0
    margin-bottom (sec-margin / 3)

    .main-title
      @media screen and (max-width md-break), print
        line-height 4.5rem
      @media screen and (min-width md-break)
        height 4.5rem
      @media screen and (min-width md-break), print
        float left
      display block
      margin-top 0
      @media screen
        margin-bottom (sec-margin / 2)
      margin-right (sec-margin / 2)
      font-size 4.5rem
      font-weight 100

    .contact-bullets
      white-space nowrap
      @media screen and (min-width md-break), print
        position absolute
        bottom 0
        right 1rem
      ul
        margin-right 10px
        display inline-block
        float left
        margin-bottom 0

#about
  .card
    display block
    width initial
    .content
      display block
      width initial

#experience, #projects
  .card
    .card-content
      & > .meta
        .desc
          width 75%
          .name:after
            white-space pre
            content ' | '
        .date
          width 25%
          text-align right

#education
  .card
    // No table-cell display here
    display block
    & > *
      display block

    .card-content
      & > .meta
        .school
          width 40%
        .grades
          width 20%
          text-align center
        .dates
          width 40%
          text-align right
        &.no-classes
          padding-bottom 0
          border-bottom none

    // Expandable class list
    .showmore          // Mobile first
      transition all transition-speed ease-out
      display none

    @media screen
      // Collapsed
      .classes > tr:nth-of-type(n+6)
        display none
      .showmore
        text-align center
        display block

      &.full
        .classes > tr:nth-of-type(n+6)
          display table-row

