doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="description", content="Ethan Chan's Resume")

    title(data-bind="fullname")

    // Stylesheets
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/vendor/font-mfizz-1.2/font-mfizz.css")
    link(rel="stylesheet", href="css/main.css")

  body.container
    // Header
    .row
      .col-xs-12.col-md-8
        .row
          .col-xs-12
            h1.main-title(data-bind="fullname")
            ul.fa-ul.inline
              li
                i.fa-li.fa.fa-lg.fa-phone
                span(data-bind="phone")
              li
                i.fa-li.fa.fa-lg.fa-envelope
                a(data-bind="email")
            ul.fa-ul.inline
              li
                i.fa-li.fa.fa-lg.fa-home
                span(data-bind="addr1")
                br
                span(data-bind="addr2")
                br
          .col-xs-12
            ul.fa-ul.inline.list-inline.links
              li
                i.fa-li.fa.fa-lg.fa-link
                a.link(data-bind="website")
              li
                i.fa-li.fa.fa-lg.fa-github
                a.link(data-bind="github")
              li
                i.fa-li.fa.fa-lg.fa-linkedin
                a.link(data-bind="linkedin")
      .forkme-box.col-md-4.hidden-xs.hidden-sm
        i.fa.fa-5x.fa-github
        a(data-bind="forkme")

    hr

    

    h4 Thanks to:
    ul.list-inline(data-bind="credits")
      li
        a(data-bind="entry")
       
    // jQuery CDN
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    // jQuery local fallback
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-2.1.1.min.js"><\\/script>');

    // Bootstrap JS CDN
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    // Bootstrap JS local fallback
    script.
      if(typeof($.fn.modal) === 'undefined')
        document.write('<script src="js/vendor/bootstrap.min.js"><\\/script>');

    // Bootstrap CSS local fallback
    script.
      $(function() {
        var bodyColor = $('body').css('color');
        if(bodyColor != 'rgb(51, 51, 51)') {
          $("head").prepend('<link rel="stylesheet" href="css/vendor/bootstrap.min.css">');
        }
      });

    script(src="js/vendor/transparency.min.js")
    script(src="js/plugins.js")
    script(src="js/main.js")
