include inc/mixins.jade

doctype html
include inc/wired.jade

html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="description", content="Ethan Chan's Resume")
    title(data-bind="fullname")

    // Stylesheets
    include inc/css.jade
  body
    .container

      include inc/forkme.jade

      include inc/header.jade

      hr
      
      include inc/about.jade

      div(data-cmd="hide-if-not" data-values="experience")
        include inc/experience.jade


      .row
        .col-xs-12.col-md-4.col-md-push-8.col-print-12(data-cmd="hide-if-not" data-values="skills")
          include inc/skills.jade

        .col-xs-12.col-md-8.col-md-pull-4.col-print-12(data-cmd="hide-if-not" data-values="education")
          include inc/education.jade

      .row
        .col-xs-12.col-md-8.col-print-12(data-cmd="hide-if-not" data-values="projects")
          include inc/projects.jade

        .col-xs-12.col-md-4(data-cmd="hide-if-not" data-values="organizations")
            include inc/organizations.jade

      include inc/credits.jade

      // Scripts
      include inc/js.jade