include inc/mixins.pug

doctype html
include inc/wired.pug

html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="description" content="Ethan Chan's Resume")
    title(data-bind="fullname")

    // Favicon
    include inc/favicon.pug

    // Stylesheets
    include inc/css.pug
  body
    .hidden-print
      include inc/overlays.pug

    .container
      include inc/header.pug

      hr

      .hidden-print(data-cmd="hide-if-not" data-values="tagline")
        include inc/about.pug

      div(data-cmd="hide-if-not" data-values="experience")
        include inc/experience.pug

      .hidden-print(data-cmd="hide-if-not" data-values="projects")
        include inc/projects.pug

      .row
        .col-xs-12.col-md-8.col-print-8(data-cmd="hide-if-not" data-values="education")
          include inc/education.pug

        .col-xs-12.col-md-4.col-print-4(data-cmd="hide-if-not" data-values="skills")
          include inc/skills.pug

      // Duplicate for alt layout
      .visible-print(data-cmd="hide-if-not" data-values="projects")
        include inc/projects.pug

      .hidden-print(data-cmd="hide-if-not" data-values="organizations")
        include inc/organizations.pug

      include inc/credits.pug

      // Scripts
      include inc/js.pug
