.card.uni-height(data-bind="container")
  a.card-img(data-bind="image")
  .card-content
    .meta
      .name(data-bind="name")
      .role(data-bind="role")
      .date(data-bind="date")
    ul.main(data-bind="content")
      li(data-bind="value")
  a.card-cta(data-bind="cta")
    .fa.fa-link(data-bind="cta-content")
