.main-title(data-bind="fullname")

.contact-bullets
  ul.fa-ul.inline(data-cmd="hide-if-not" data-values="location phone email")
    li(data-cmd="hide-if-not" data-values="email")
      +li-i('fa-envelope-square')
      a(data-bind="email")

    li(data-cmd="hide-if-not" data-values="website")
      +li-i-stacked('fa-link', 'fa-external-link-square')
      a(data-bind="website" data-cmd="link")

  ul.fa-ul.inline(data-cmd="hide-if-not" data-values="website github linkedin")
    li(data-cmd="hide-if-not" data-values="github")
      +li-i('fa-github-square')
      a(data-bind="github" data-cmd="link")

    li(data-cmd="hide-if-not" data-values="linkedin")
      +li-i('fa-linkedin-square')
      a(data-bind="linkedin" data-cmd="link")
