.row
  #printme-button.col-xs-12.col-sm-6.col-lg-12.space-em.no-mb-sm.no-mb-md
    a.btn.btn-primary.btn-md.btn-block(onclick="window.print()")
      i.fa.fa-print
      |   Print me

  #yaml-button.col-xs-12.col-sm-6.col-lg-12.space-em.no-mb-sm.no-mb-md
    a.btn.btn-default.btn-md.btn-block(href="data/data.yaml" target="_blank")
      i.fa.fa-file-code-o
      |   Get the data
