section#credits.hidden-print
  +h4-i('Thanks to:', 'fa-heart', true)
  .card-holder
    .card
      .card-content
        ul#credits-list.inline.list-inline
          li
            a(data-bind="entry")