section#education
  +h4-icon('Education', 'fa-graduation-cap')
  hr.smallmargin
  div(data-bind="education")
    .row
      .col-xs-12.col-sm-4.col-print-4.col-left
        span.table-label(data-bind="school")
      .col-xs-12.col-sm-4.col-print-4.col-center
        span.table-label(data-bind="grades")
      .col-xs-12.col-sm-4.col-print-4.col-right
        span.table-label(data-bind="dates")
    .table-responsive
      table.table.table-striped.table-super-condensed
        tbody(data-bind="classes")
          tr
            td(data-bind="name")
            td(data-bind="content")
            td(data-bind="date" align="right")