section#education
  +h4-i('Education', 'fa-graduation-cap')
  .table-responsive(data-bind="education")
    table.table.table-super-condensed
      tbody.meta
        tr.active
          td(colspan="3")
            .school(data-bind="school")
            .grades(data-bind="grades")
            .dates(data-bind="dates")
      tbody.classes(data-bind="classes")
        tr
          td.name(data-bind="name")
          td.content(data-bind="content")
          td.date(data-bind="date")