section#education
  +h4-i('Education', 'fa-graduation-cap')
  div(data-bind="education")
    .card
      .card-content
        .meta(data-bind="meta")
          .school(data-bind="school")
          .grades(data-bind="grades")
          .dates(data-bind="dates")
        table.main(data-bind="main")
          tbody.classes(data-bind="classes")
            tr(data-bind="item")
              td.nowrap(data-bind="name")
              td(data-bind="content")
              td.nowrap.text-right(data-bind="date")
      .showmore
        .i.fa.fa-chevron-down
