section#education
  +h4-i('Education', 'fa-graduation-cap')
  .table-responsive(data-bind="education")
    table.table.table-super-condensed
      tbody.college-meta
        tr.active
          td(colspan="3")
            .college.school(data-bind="school")
            .college.grades(data-bind="grades")
            .college.dates(data-bind="dates")
      tbody(data-bind="classes")
        tr
          td(data-bind="name")
          td(data-bind="content")
          td(data-bind="date" align="right")