section#education
  +h4-i('Education', 'fa-graduation-cap')
  div(data-bind="education")
    .card-holder
      .card
        .meta
          .school(data-bind="school")
          .grades(data-bind="grades")
          .dates(data-bind="dates")
        ul.main(data-bind="classes")
          li
            .name(data-bind="name")
            .content(data-bind="content")
            .date(data-bind="date")
