section#education
  +h4-i('Education', 'fa-graduation-cap')
  .table-responsive(data-bind="education")
    table.table.table-super-condensed
      thead
        tr.active
          td(data-bind="school")
          td(data-bind="grades" align="center")
          td(data-bind="dates" align="right")
      tbody(data-bind="classes")
        tr
          td(data-bind="name")
          td(data-bind="content")
          td(data-bind="date" align="right")