section#education
  +h4-i('Education', 'fa-graduation-cap')
  div(data-bind="education")
    .card
      .card-content
        .meta
          .school(data-bind="school")
          .grades(data-bind="grades")
          .dates(data-bind="dates")
        table.main
          tbody(data-bind="classes")
            tr
              td.nowrap(data-bind="name")
              td(data-bind="content")
              td.nowrap.text-right(data-bind="date")
