section#experience
  +h4-i('Experience', 'fa-suitcase')
  .table-responsive(data-bind="experience")
    table.table.table-super-condensed
      tbody.meta
        tr.active
          td.name: a(data-bind="name")
          td.role(data-bind="role")
          td.date(data-bind="date")
      tbody.content(data-bind="content")
        tr
          td(data-bind="value" colspan="3")
