section#experience
  +h4-i('Experience', 'fa-suitcase')
  hr.smallmargin.hidden-xs.hidden-sm.hidden-print
  div(data-bind="experience")
    .row
      .col-md-3.hidden-xs.hidden-sm.hidden-print
        a(data-bind="url")
          img.img-responsive.img-thumbnail(data-bind="image")
      .col-xs-12.col-md-9.col-print-12.entry
        .meta
          .name: a(data-bind="name")
          .role(data-bind="role")
          .date(data-bind="date")
        ul.main(data-bind="content")
          li(data-bind="value")
  hr.hidden-xs.hidden-sm.hidden-print