+js("js/vendor/jquery-2.1.1.min.js")
+js("js/vendor/lodash.min.js")
+js("js/vendor/bootstrap.min.js")
+js("js/vendor/js-yaml.min.js")
+js("js/vendor/transparency.min.js")
+js("js/plugins.js")
+js("js/main.js")
