section#organizations
  +h4-i('Organizations', 'fa-university')
  .card-holder
    .card
      .card-content
        ul.inline.list-inline(data-bind="organizations")
          li(data-bind="namedate")