noscript.coverall Please enable JavaScript :(

#forkme.hidden-xs
  .github-fork-ribbon-wrapper.right
    .github-fork-ribbon
      a(href="https://github.com/metakirby5/resume")
        i.fa.fa-code-fork
        |   Fork me on GitHub!

.fadeaway.bottom
