section#projects
  +h4-i('Projects', 'fa-pencil')
  .table-responsive
    table.table.table-super-condensed
      tbody(data-bind="projects")
        tr.active.meta
          td.name(data-bind="name")
          td.role(data-bind="role")
          td.date(data-bind="date")
        tr.content
          td(colspan="3")
            ul.list-unstyled(data-bind="content")
              li(data-bind="value")