section#skills
  +h4-i('Skills', 'fa-tasks')
  .card
    .card-content
      // TODO: don't hardcode
      table(style="width:100%;text-align:center")
        tr
          td
            i.fa.icon-unity
          td
            i.fa.icon-react
          td
            i.fa.icon-python
          td
            i.fa.icon-javascript
          td
            i.fa.icon-cplusplus
          td
            i.fa.icon-java-bold
          td
            i.fa.fa-terminal
      ul.commaize(data-bind="skills")
        li(data-bind="name")
