section#skills
  +h4-i('Skills', 'fa-tasks')
  .card-holder
    .card
      .card-content
        ul.inline.list-inline(data-bind="skills")
          li
            i.fa.spaceright(data-bind="icon")
            span(data-bind="name")